/* .home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.d-block {
  margin-top: 150px;
  border-radius: 15%;
} */


.home-component {
  display: flex;
  flex-direction: column;
}

.carousel {
  height: 10vh;
  pause: "false"
}

.PageTag {
  display: flex;
  justify-content: center;
  /* position: fixed; */
  z-index: 1;
  font-size: xx-large;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  
 

}