.home-component {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.carousel {
  height: 10vh;
  pause: "true";
}

.PageTag {
  display: flex;
  justify-content: center;

  z-index: 1;
  font-size: xx-large;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;




}