/* .home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.d-block {
  margin-top: 150px;
  border-radius: 15%;
} */


.home-component {
  display: flex;
  flex-direction: column;
}

.carousel {
  height: 10vh;
  pause: "false"
}

