.title-css {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.PageNameTagTv {
  position: relative;
  z-index: 1;
  font-size: xx-large;
  font-weight: 800;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 8px;
}