.Header-box {
  width: 100%;
  cursor: pointer;
  height: 130px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #462850, #1d3668);
  /* background-image: linear-gradient(to left, #06222f , #452d43); */
  font-family: Montserrat, sans-serif;
  font-size: 5vw;

  box-shadow: black;
  color: beige;
  z-index: 100;
  padding: 15px;
  padding-top: 45px;
  align-items: center;

  opacity: 0.90;
}


.Header {
  font-size: 80px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('https://images.pexels.com/photos/979233/pexels-photo-979233.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

}

.loginClass {
  padding-top: 60px;
  font-size: 35px;
  text-decoration: none;
}

.loginLink{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: #6b92e0;
}

.signupLink{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: #6b92e0;
}

.logoutLink{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: #6b92e0;
}

.loginLink:hover{
  text-decoration: none;
  color: #9a5baf;
}

.signupLink:hover{
  text-decoration: none;
  color: #9a5baf;
}

.logoutLink:hover{
  text-decoration: none;
  color: #9a5baf;
}

@media (max-width: 700px) {
  .Header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}