.bottom-nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color:black;
  z-index: 50;
  height: 50px
}

.Mui-selected {
  background-color: aquamarine;
  color: black;
  border: none;
}