.Search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 300px; */
  margin-top: 0px;
  padding-top: 50px;
  position: relative;
  z-index: 1;
  background-color: rgb(128, 132, 247);
  background-image: linear-gradient(rgb(238, 117, 117), rgb(232, 232, 163));
  width: 100%;


}

/* .search-form {
  border: 2em;
  border-color: rgb(255, 0, 195);
} */

.search-button {

  height: 50px;
  width: 180px;
  font-size: 26px;
}

/* 
.search-input {
  height: 50px;
} */

/* .MuiInputBase-root {
  color: white;
} */

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-top: 20px;
  border: none;
  width: 800px;
  color: white;
}


.radio-div {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;

}

/* .css-1m9pwf3 {
  color: #007bff
} */

.search-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 
.search-button {
  margin: 10;
} */